{% extends "baseTemplate.html" %}
{% block content %}
<div class="panel-heading">
  <ol class="breadcrumb" style="background-color:#375a7f">
    <li class="breadcrumb-item"><a href="/"><b>Pynitus</b></a></li>
    <li class="breadcrumb-item"><a href="/library">Library</a></li>
    <li class="breadcrumb-item active">Artists</li>
  </ol>
</div>
<div class="panel-body">
    <table class="table table-hover" id="artistTable">
      <tr>
        <th>Artist</th>
        <th></th>
        <th></th>
      </tr>
      {% for artistName in artistNames %}
      <tr>
        <td>{{artistName}}</td>
        <td>
          <form action="/library/artist" method="get">
            <button class="btn btn-default" name="artist" type="submit" value="{{artistName}}">view {{artistName}}'s Albums and Tracks</button>
          </form>
        </td>
        <td>
          <form action="/library/deleteArtist" method="get">
            <button class="btn btn-danger" name="artist" type="submit" value="{{artistName}}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
</div>
{% endblock %}
