{% extends "baseTemplate.html" %}
{% block content %}
    <table class="table table-hover" id="artistTable">
      <tr>
        <th>Artist</th>
        <th></th>
        <th></th>
      </tr>
      {% for artistName in artistNames %}
      <tr>
        <td>{{artistName}}</td>
        <td>
          <form action="artist" method="get">
            <button class="btn btn-default" name="artist" type="submit" value="{{artistName}}">view {{artistName}}'s Albums and Tracks</button>
          </form>
        </td>
        <td>
          <form action="deleteArtist" method="get">
            <button class="btn btn-danger" name="artist" type="submit" value="{{artistName}}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}

track (location text primary key, type text,imported bool, available bool, init bool)