{% extends "baseTemplate.html" %}
{% block content %}
<div class="panel-heading">
  <ol class="breadcrumb" style="background-color:#375a7f">
    <li class="breadcrumb-item"><a href="/"><b>Pynitus</b></a></li>
    <li class="breadcrumb-item"><a href="/admin/panel">Admin</a></li>
    <li class="breadcrumb-item"><a href="/admin/unimported">Unimported</a></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</div>
<div class="panel-body">
  <table class="table">
    <tr>
      <th><span class="glyphicon glyphicon-music" aria-hidden="true"></span> &nbsp;Title:&nbsp;&nbsp;&nbsp;&nbsp; <b>{{track.title}}&nbsp;&nbsp;&nbsp; </b></th>
      <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;Artist:&nbsp;&nbsp;&nbsp;&nbsp; <b>{{track.artist}}&nbsp;&nbsp;&nbsp; </b></th>
      <th><span class="glyphicon glyphicon-cd" aria-hidden="true"></span> &nbsp;Album:&nbsp;&nbsp;&nbsp;&nbsp; <b>{{track.album}}&nbsp;&nbsp;&nbsp; </b></th>
    </tr>
  </table>
  <table class="table">
    <tr>
      <td><span class="glyphicon glyphicon-file" aria-hidden="true"></span> <b>Location:</b>&nbsp;&nbsp;&nbsp;&nbsp; {{track.location}}&nbsp;&nbsp;&nbsp; </td>
    </tr>
  </table>
  <hr/>
  <br/>
  <form action="/admin/unimported/verify" method="post" enctype="multipart/form-data">
    <table class="table table-striped">
      <tr>
        <th>Attribute</th>
        <th>Value</th>
        <th></th>
      </tr>
      {% for display_name, internal_name, value, required in tag_info_tuples %}
      <tr>
        <td>{{display_name}}</td>
        <td>
          <input
            type="text"
            class="form-control input-sm"
            name="{{internal_name}}"
            {% if required %}required="required"{% endif %}
            value="{{value}}">
          </input>
        </td>
        <td>
          {% if required %}
            <span class="label label-danger">Required</span>
          {% else %}
              <span class="label label-default">Optional</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <hr/>
      <input type="hidden" value="{{track.location}}" name="location"/>
      <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <div id="panel"> Submit</div>
      </button>
  </form>
</div>
{% endblock %}
