{% extends "baseTemplate.html" %}
{% block content %}
<div class="panel-heading">
  <ol class="breadcrumb" style="background-color:#375a7f">
    <li class="breadcrumb-item"><a href="/"><b>Pynitus</b></a></li>
    <li class="breadcrumb-item active">Library</li>
  </ol>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <a href="/library/artists" class="thumbnail">
          <img src="/img/artist.jpeg">
        </a>
        <p><h4 style="text-align: center">  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;&nbsp;Artists</h4></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <a href="/library/albums" class="thumbnail">
          <img src="/img/album.jpeg">
        </a>
        <p><h4 style="text-align: center">  <span class="glyphicon glyphicon-cd" aria-hidden="true"></span> &nbsp;&nbsp;Albums</h4></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <a href="/library/tracks" class="thumbnail">
          <img src="/img/cd.jpg">
        </a>
        <p><h4 style="text-align: center">  <span class="glyphicon glyphicon-music" aria-hidden="true"></span> &nbsp;&nbsp;Tracks</h4></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <a href="/library/search" class="thumbnail">
          <img src="/img/search.jpg">
        </a>
        <p><h4 style="text-align: center">  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp;&nbsp;Search</h4></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
