{% extends "baseTemplate.html" %}
{% block content %}
<div class="panel-heading">
  <ol class="breadcrumb" style="background-color:#375a7f">
    <li class="breadcrumb-item"><a href="/"><b>Pynitus</b></a></li>
    <li class="breadcrumb-item active">Upload</li>
  </ol>
</div>
<div class="panel-body">
  <table class="table table-striped">
    <tr>
      <th><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Add a new Track</th>
      <th></th>
      <th></th>
    </tr>
  </table>

  <table class="table table-responsive">
    {% for upload_handler_description in upload_handler_descriptions %}
    <tr>
      <td>{{upload_handler_description.display_name}}</td>
      <td>{{upload_handler_description.description}}</td>
      <td>
        <a href="/upload/handler/{{upload_handler_description.internal_name}}">
          <button type="button" class="btn btn-info">Add {{upload_handler_description.display_name}}</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
<div>
{% endblock %}
