{% extends "baseTemplate.html" %}
{% block content %}
<div class="panel-heading">
  <ol class="breadcrumb" style="background-color:#375a7f">
    <li class="breadcrumb-item"><a href="/"><b>Pynitus</b></a></li>
    <li class="breadcrumb-item"><a href="/library">Library</a></li>
    <li class="breadcrumb-item active">Artists</li>
  </ol>
</div>
<div class="panel-body">
  <table class="table table-striped">
    <tr>
      <th><span class="glyphicon glyphicon-upload" aria-hidden="true"></span><b>{{track.title}}</b></th>
      <th></th>
      <th></th>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Add a new Track</th>
      <th></th>
      <th></th>
    </tr>
    <tr>

    </tr>
  </table>
</div>
{% endblock %}
