{% extends "baseTemplate.html" %}
{% block content %}
<div class="panel-heading">
  <ol class="breadcrumb" style="background-color:#375a7f">
    <li class="breadcrumb-item"><a href="/"><b>Pynitus</b></a></li>
    <li class="breadcrumb-item"><a href="/library">Library</a></li>
    <li class="breadcrumb-item active">Tracks</li>
  </ol>
</div>
<div class="panel-body">
  <table class="table table-hover" id="artistTable">
    <tr>
      <th>Track</th>
      <th>Artist</th>
      <th>Album</th>
      <th></th>
      <th></th>
    </tr>
    {% for track, album, artist in tracks %}
    <tr>
      <td>{{track}}</td>
      <td>
        <form action="/library/artist" method="get">
          <button class="btn btn-default" name="artist" type="submit" value="{{artist}}">view {{artist}}</button>
        </form>
      </td>
      <td>
        <form action="/library/album" method="get">
          <input type="hidden" value="{{artist}}" name="artist"/>
          <button class="btn btn-default" name="album" type="submit" value="{{album}}">view {{album}}</button>
        </form>
      </td>
      <td>
        <form action="/queue/add" method="get">
          <input type="hidden" value="{{artist}}" name="artist"/>
          <input type="hidden" value="{{album}}" name="album"/>
          <button class="btn btn-info" name="track" type="submit" value="{{track}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> enqueue</button>
        </form>
      </td>
      <td>
        <form action="/library/deleteTrack" method="get">
          <input type="hidden" value="{{artist}}" name="artist"/>
          <input type="hidden" value="{{album}}" name="album"/>
          <button class="btn btn-danger" name="track" type="submit" value="{{track}}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> remove</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
