{% extends "baseTemplate.html" %}
{% block content %}
  <table class="table table-striped">
    <tr>
      <th><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Add a new Track</th>
      <th></th>
      <th></th>
    </tr>
  </table>

  <form action="upload" method="post" enctype="multipart/form-data">
    <table class="table table-responsive">
      {% for attribute in attributes %}
      <tr>
        <td>{{attribute.displayName}}:</td>
        <td>
          {% if attribute.attributeType == "string" %}
            <input type="text" class="form-control input-sm" name="{{attribute.displayName}}" {% if attribute.required %}required="required"{% endif %}></input>
          {% endif %}
          {% if attribute.attributeType == "file" %}
            <input type="file" class="form-control input-sm" name="{{attribute.displayName}}" {% if attribute.required %}required="required"{% endif %}/>
          {% endif %}
        </td>
        <td>
          {% if attribute.required %}
            <span class="label label-danger"><span class="glyphicon " aria-hidden="true"></span> Required</div>
          {% else %}
            <span class="label label-default"><span class="glyphicon " aria-hidden="true"></span> Optional</button>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Upload</button>
  </form>
{% endblock %}
